@import "tailwindcss";

@theme {
  --color-primary: oklch(70.7% 0.165 254.624);
  --color-primary-200: oklch(48.8% 0.243 264.376);
  --color-secondary: oklch(70.2% 0.183 293.541);
  --color-secondary-200: oklch(49.1% 0.27 292.581);
}
